<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bc8d9f">  <td>20/06/17 12:58:13</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="executeAPI.getTest1()[pri:0, instance:com.api.executeAPI@1329eff]">getTest1</td> 
  <td>main@2033968586</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>20/06/17 12:58:16</td>   <td>2788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="executeAPI.getTest2()[pri:0, instance:com.api.executeAPI@1329eff]">getTest2</td> 
  <td>main@2033968586</td>   <td></td> </tr>
<tr bgcolor="bc8d9f">  <td>20/06/17 12:58:16</td>   <td>3169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="executeAPI.getTest3()[pri:0, instance:com.api.executeAPI@1329eff]">getTest3</td> 
  <td>main@2033968586</td>   <td></td> </tr>
</table>
